*{
    box-sizing: border-box;
}
body{
    margin: 0;
    direction: rtl;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 900px;
    margin: 0 auto;
    padding: 5px;
}
.container>.row{
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
}
.row > div[class="col"]{
    margin: 0 5px;
}
div[class ="col"]{
    display: flex;
    flex-direction: column;
    position: relative;
}
div[class ^="col"]>img{
    border-bottom-right-radius:25px;
    position:relative;
}
.short-story>div> a {
    color: white;
    font-size: 12px;
}
.short-story>div> a:hover{
    color: blue;
}
.short-story>div{
    text-align: end;
}
.short-story{
    color:white;
    width: 240px;
    padding:10px;
    height: 110px;
    background-color: rgba(128,128,128,.85);
    display: flex;
    flex-direction: column;
    position:absolute;
    bottom:7px;
    right:7px;
    border-bottom-right-radius:25px;
}
.f-14{
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}
.f-13{
    font-size: 13px;
    margin:0;
    margin-top:4px;
}
.short-story>div>a:hover + .switch-img{
    content: url('images/read_more_blue.png');
}
.banner, .contact-info,.more{
    border:1px solid #ececec;
    border-top-right-radius: 25px;
    background-image: linear-gradient(#fff,#efefef 50%,#eeeeee 60%,  #efefef);
}
.banner>.f-14{
    color: #575757;
    margin: 1em 5px;
    position: relative;
    margin-bottom: 30px;
}
.banner>*{
    padding:0 20px;
}
.line{
    width: 250px;
    border-bottom: 2px solid #ececec;
    position: absolute;
    top: 25px;
    right: 20px;
    display: block;
    margin-bottom: 20px;
    }
.banner>div{
    margin: 20px 0;
    text-align: end;
    color:#72716d;
}
.banner>div>a{
    color:#72716d;
    font-size: 13px;
}
.banner>div>a:hover {
    color:blue;
}
.banner>div>a:hover + .switch-img{
    content: url('images/read_more_blue.png');
}
.map{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px !important;
    width: 290px;
}

.locations{
    display: flex;
    flex-direction: column;
    text-align: start;
}
.locations>div{
    padding:5px;
    display: flex;
    justify-content: space-between;
}
.locations>div>a{
    font-size: 13px;   
    color:#72716d;
    padding-left: 5px;
}
.locations>div>a:hover + .switch-img{
    content: url('images/read_more_blue.png');
}
.locations>div>a:hover{
    color:blue;
}
.change-home:hover > .home-pic{
    content:url(images/menu_home_blue.png);
}
.contact-box{
    display: flex;
    align-items: center;
    width: 122px;
    height: 36px;
    background-image: linear-gradient(#fff,#e1e1e1 95%,#dedede 98%);
    border-top: 1px solid #dedede;
}
.contact-box>span{
    color:blue;
}
.contact-box>a{
    padding-right: 5px;
    font-size: 13px;
    color:#5c5c5c;
    text-decoration: none;
}
.contact-box>a:hover, .contact-header>div>a:hover{
    color:blue;
    text-decoration: underline;
}
.contact-title{
    padding-bottom: 4px;
    font-size: 15px;
    font-weight: bold;
    color:#72716d;
    border-bottom:1px solid #cbcbcb;
}
.contact-header>div>a,.contact-header>div>span, .p-12 {
    font-size: 12px;
    color:#72716d;
    text-decoration: none;
}
.contact-header{
    width:440px;
    height: 380px;
}
.contact-info>div>p{
    margin:0;
    font-size: 13px;
}
.extra-info>div{
    height: 160px;
    padding: 10px;
    width: 100%;
}
.extra-info{
    width:calc(100%/3);
    height: 370px;
    margin-top:55px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.more>div>a{
    margin:0;
    font-size: 13px;
    text-decoration: none;
}
.more>div>a:hover{
    color:#005CA0;
    text-decoration: underline;
}

.p-15{
    font-size: 15px;
    font-weight: bold;
    color: #005ca0;
    margin:0;
    padding-bottom: 5px;
    margin-bottom: 5px;
    position: relative;
    border-bottom: 2px solid #cbcbcb;
}
.p-13{
    font-size: 13px;
    font-weight: bold;
    color: #6d6d6d;
    margin:0;
}
.contact-form{
    border:1px solid #ececec;
    border-top-right-radius: 25px;
    background-image: linear-gradient(#fff,#f1f1f1 50%,#f8f8f8 60%,  #eee);
    width: 370px !important;
    padding:12px 18px;
    border-bottom: none;
}
#contact-form{
    width: 245px;
    margin:0 50px;
    display: flex;
    flex-direction: column;
}
#contact-form>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:2px 0;
}
#contact-form>div>input{
    width: 168px;
    height: 22px;
}
.error {
    color: red;
    display: none;
    margin:2px 0 5px 0;
    font-size: 12px;
} 
.was-submitted input:invalid + .error {
    display: initial;  
}
.submit{
    font-size: 14px;
    border:none;
    text-align: center;
    align-self: flex-end;
    margin-top:5px;
    height: 21px;
    width: 45px;
    color:white;
    border-top-right-radius: 7px;
    background-image: linear-gradient(rgba(10,161,226,255), rgba(1,103,162,255) 50%,rgba(2,79,134,255));
}
.submit:hover, .submit:focus{
    color:#3c3c3c;
    background-image: linear-gradient( rgb(252,226,29), rgb(251,207,25) 25%, rgb(245,168,16)50%,rgb(238,137,22));
}
header{
    background-image: linear-gradient(#909090,#989898 80%,#aaa 95%, #bbb 98%, #fff );                
    height: 105px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.paz-logo{
    position:absolute;
    top:-30px;
    right:10px;
}
.search, nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; 
    margin-top: 20px;
    width: 100%;
}
.search>*{
    display:block;
    height: 19px;
}
.search>input{
    border-top-right-radius: 10px;
    border: none;
}
.search>.lang{
    margin-top: 2px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
nav{
    position: relative;
}
nav>ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding:0;
    margin:0;
    height: 17px;
}
nav > ul > li > a, .dropdown-content > a {
    text-decoration: none;
    display: block;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding:0 15px; 
}
nav > ul > li:not(:last-child) > a{
    border-left:2px solid #bcbcbc;
}
nav > ul > li > a:hover, nav>ul>li>.dropdown-content > a:hover{
    color: blue;
    text-decoration:underline;
  }
nav>ul>li>.dropdown-content > a:hover {
    color: blue;
    background-color: #bcbcbc;
}
.dropdown-content>a{
    border-bottom: 1px solid #bcbcbc;
    padding:5px ;
}
.dropdown-content>a:first-child{
    padding-top: 0 ;
}
.dropdown {
    position: relative;
  }
.dropdown-content {
    background-color: #909090;
    position: absolute;
    top: 100%;
    right: 15px;
    width: max-content;
    display: none;
    z-index: 1;
}
.dropdown-content::before{
    display: block;
    position: relative;
    background-image: linear-gradient(#959595,#989696 10%,#a1a1a1 20%, #989696 80%);
    height: 20px;
    width: 100%;
    content: '';
}
.dropdown:hover > .dropdown-content {
    display: block;
}

footer{ 
    background-color: #919191;
    position: fixed;
    height: 38px;
    bottom: 0;
    left:0;
    width: 100%;
}
.wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:10px;
}
.wrapper>div>a{
    color: white;
    font-size: 14px;
    padding:0 5px;
    text-decoration: none;
    border-left: 2px solid white;
    display: inline-block;
}
.wrapper>div:last-child>a{
    color: red;
    font-size: 14px;
    border: none;
}
.wrapper>div>a:hover{
    color: blue;
}